<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
	<system.webServer>
		<directoryBrowse enabled="true" />
		<handlers>
			<add name="task1" path="/SDS/task1" verb="GET" type="Lab1.SDSHandler1"/>
			<add name="task2" path="/SDS/task2" verb="POST" type="Lab1.SDSHandler2"/>
			<add name="task3" path="/SDS/task3" verb="PUT" type="Lab1.SDSHandler3"/>
			<add name="task4" path="/SDS/task4" verb="POST" type="Lab1.SDSHandler4"/>
			<add name="task5" path="/SDS/task5" verb="GET,POST" type="Lab1.SDSHandler5"/>
			<add name="task6" path="/SDS/task6" verb="GET,POST" type="Lab1.SDSHandler6"/>
			<add name="websockets" path="*.websocket" verb="GET" type="Lab1.WebSockets7"/>
		</handlers>
	</system.webServer>
</configuration>