@{
    Layout = null;
}

<style>
    * {
        font-family: "Tilda Sans VF";
    }
</style>
<h1>Parm Index</h1>
<p>string: Id = @ViewBag.id </p>
<script src="/_framework/aspnetcore-browser-refresh.js"></script>